<!DOCTYPE html>
<html>
	<head>
		<title>stalker | Login</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/global.css" type="text/css">
		<link rel="stylesheet" href="/static/login.css" type="text/css">
		
		<script type="text/javascript">
			
			function validateLogin() {
				var password = document.getElementById("passwordField").value;
				
				var request = new XMLHttpRequest();
				
				request.onreadystatechange = function() {
					if (request.readyState == 4) {
						if (request.responseText == "OK") {
							document.cookie = "password=" + escape(password) + "; path=/; expires=Sun, 1 Aug 2020 10:10:10 UTC;";
							window.location = "/visits"; // redirect
						}
						else {
							displayError();
							shakeWindow();
						}
					}
				};
				
				request.open("POST", "/validateLogin?p=" + password, true);
				request.send("");
			}
			
			function displayError() {
				var prompt = document.getElementById("prompt");
				var errorText = "The password you entered was invalid. Please try again.";
				
				if (document.all) {
					 prompt.innerText = errorText;
				}
				else {
					 prompt.textContent = errorText;
				}
				
				prompt.style.color = "red";
			}
			
			function shakeWindow() {
				var login = document.getElementById("loginWindow");
				login.style.webkitAnimationName = '';
				
				window.setTimeout(function() {
					login.style.webkitAnimationName = 'shake';
				}, 0);
			}
			
		</script>
	</head>
	
	<body onload="loaded();">
		<div id="parent">
			<div id="loginWindow">
				<div class="container">
					<p id="prompt">Enter your password in the box below to view your visitors' statistics.</p>
					
					<div class="form">
						<input id="passwordField" class="passwordBox" type="password" onkeydown="if(event.keyCode==13)validateLogin();" />
						<a class="loginButton" onclick="validateLogin();" href="#">Login</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
