<!DOCTYPE html>
<html>
<head>
    <title>mailer</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <script text="text/javascript" src="/static/script.js"></script>
</head>

<body onload="loaded();">
    <div id="postcard">
        <div id="messageSide">
            <textarea id="messageArea" placeholder="Your feedback goes here..."></textarea>
        </div>
        
        <div id="mailingInfo">
            <div id="top">
                <img src="/static/stamp.jpg" width="60" height="69" />
            </div>
            
            <canvas id="address" height="220"></canvas>
            
            <a class="glossyButton" href="#" onclick="sendMessage();">Send</a>
        </div>
        
        <div class="clearFix"</div>
    </div>
</body>
</html>
